
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hüsenclicker</title>
        @Styles.Render("~/Content/bootstrap.css")
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript">
            function gotoGame()
            {
                window.location.replace("http://localhost:52178/Start/Spiel");
            }
            function gotoEinstellungen() {
                window.location.replace("http://localhost:52178/Start/Einstellungen");
            }
        </script>

    </head>
<body class="jumbotron">
<div >
    <div class="text-center">        
        <h1>Hüsenclicker</h1>
    </div >
    <br/>
    <div>
        <img src="~/Content/Bilder/schwechaterFIN.png" alt="image" class="col-md-12 text-center img-responsive"/>
    </div>
    <br/>
    <br/>

    <div class="col-md-12 text-center" btn-lg>
        <button type="button" class="btn btn-primary btn-lg col-md-12 text-center" onclick="gotoGame()">Starten</button>
    </div>
    <br/>

    <div class="col-md-12 text-center" btn-lg>
        <button class="btn btn-success btn-lg col-md-12 text-center" onclick="gotoEinstellungen()" type="button">Einstellungen</button>
    </div>
    
</div>
</body>
</html>
